body {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 720px) {
    body {
        flex-direction: row;
    }
    form {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    content {
        width: 400px;
    }
  }